/* მეორე სექცია */
.SeconSection{
    box-sizing: border-box;
    width: 100%;
    padding-top: 29px;
    padding-bottom: 54px;

    background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
}

/* პირველი ტექსტი */
.buy_more{
    width: fit-content;

    margin: 0 auto; 

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 49px;
    
    color: #11346F;
}

.offers_header_underline{
    margin: 0 auto;
    width: fit-content;

    display: flex;
    flex-direction: column;
}

.limiter_offer{

    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 50px;

    color: #FFFFFF;
}  


.cards_list{
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
}

.card{
    box-sizing: border-box;
    position: relative;
    width: 368px;
    height: 530px;

    background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);;

    border: 1.5px solid #197AFF;
    border-radius: 18px;
}

#cardMassager1{
    position: absolute;
    
    width: 133px;
    height: 100px;
    top: -19px;
    left: 113px;
  
    margin: 0 auto;
}

.card1_p1{
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #11346F;
}

.card1_p2{
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    text-align: center;

    /* Blue Secondary */

    color: #11346F;
}

.card1_p3{
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #11346F;
}

.moneyBack_checkMark{
    width: 100%;
    margin-top: 33px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card1_p4{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #11346F;
}

.afterPay{
    width: 100%;
    margin-top: 40px;
     
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.card1_p5{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;

    text-transform: capitalize;
    color: #11346F;   
}

#price17{
    font-family: 'Gilroy';
    font-weight: 900;
}

.afterpay_icon{
    width: 77px;
    height: 17.11px;

    background: #BCF5E3;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card_button{
    position: absolute;
    width: 331px;
    height: 53px;

    bottom: 61px;
    left: 18px;

    background: #197AFF;
    box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
    border-radius: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.card_button span{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
    color: #FFFFFF;
}

.credit_cards{
    position: absolute;
    width: 100%;

    bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/**********************************/

#cardMassager2{
    position: absolute;
    top: -14px;
    left: 78px;

    width: 216px;
    height: 100px;
}

#card_curved_arrow{
    position: absolute;

    top: 66px;
    right: 34px;
}

.popular_badge{
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
    width: 126px;
    height: 28px;

    background: #57AC73;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popular_badge span{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
    color: #FFFFFF;
}

.card2_p1{
    position: relative;
    width: fit-content;
}

.card2_p1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;

    color: #11346F;
}

#get1free{
    font-family: 'Gilroy';
    font-weight: 800;
    color: #197AFF;
}

#get1free_underline{
    position: absolute;
    bottom:0;
    right: 0;
}

.sale_text{
    width: fit-content;
    display: flex;
    align-items: center ;
    gap: 23px;

    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
}

.sale_text span{
    position: absolute;

    right: 42px;
    height: 2px;
    width: 141px;
    
    background-color: #647AA0;
}

.sale_text_p1{

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    text-align: center;

    color: #11346F;
}
.sale_text_p2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;

    text-align: center;

    color: #93A2BB;
}

.free_shipping{
    margin-left: 58px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    
    color: #11346F;
}

.afterPay2{
    margin-top: 11px;
}

.save_money_moneyback{
    box-sizing: border-box;
    position: relative;
    width: 331px;
    height: 83px;

    margin: 17px auto 0 auto;

    display: flex;

    border: 1px solid #AECCFF;
    border-radius: 19px;
}

.green_side{
    position: absolute;
    box-sizing: border-box;

    top: -4px;
    left: 0;
    width: 158px;
    height: 43px;

    background: #BFF5BE;
    border: 1px solid #99D298;
    border-radius: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.green_side p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;

    color: #11346F;
}

.white_side{
    position: absolute;
    box-sizing: border-box;

    top: -4px;
    right: 0;

    padding-right: 16px;

    width: 271.31px;
    height: 43px;

    background: #F0F6FF;

    border: 1px solid #AECCFF;
    border-radius: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.white_side p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #11346F;
}

.save_money_moneyback > p{
    position: absolute;

    bottom: 14px;
    left: 81px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 17px;

    color: #11346F;
}

#cardMassager3{
    position: absolute;

    top: -17px;
    left: 58px;
    width: 258px;
    height: 106px;  
}

#bestValue{
    background: #AC5780;
}

#sendTime{
    position: absolute;

    bottom: 15px;
    left: 60px;
}